@page "/dendogram"
<h3>File Uploader</h3>

<InputFile multiple OnChange="OnFileSelected" />

@if (selectedFiles.Any())
{
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Word</th>
                    @foreach (var file in selectedFiles)
                    {
                        <th>@file.Name</th>
                    }
                    <th>TF</th>
                    <th>IDF</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var (index, word) in distinctWords.Select((word, index) => (index + 1, word)))
                {
                    <tr>
                        <td>@index</td>
                        <td>@word</td>
                        @foreach (var file in selectedFiles)
                        {
                            var frequency = file.WordFrequencies.ContainsKey(word)
                            ? file.WordFrequencies[word]
                            : 0;
                            <td>@frequency</td>
                        }
                        <td>@CalculateTermFrequency(word)</td>
                        <td>@CalculateInverseDocumentFrequency(word)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br/>

    <h3>Sentence Distance</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>Sentence</th>
                @foreach (var file in selectedFiles)
                {
                    <th>@file.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var (i, file) in selectedFiles.Select((file, i) => (i, file)))
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>@file.Content</td>
                    @foreach (var (j, otherFile) in selectedFiles.Select((otherFile, j) => (j, otherFile)))
                    {
                        var distance = i == j ? 0 : CalculateSentenceDistance(file.Content, otherFile.Content);
                        <td>@distance</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br/>
}