@page "/linechart"
<h3>Lines Chart</h3>

<div class="d-flex">
    <select class="form-select" multiple="@true" @onchange="OnSelectionChanged" style="width:25%;">
        @foreach (var student in Students)
        {
            <option value="@student.Id">@student.Name</option>
        }
    </select>

    <div class="mx-2"></div>

    <RadzenDropDown TValue="Discipline" Data="@Disciplines" TextProperty="Name"
                    ValueProperty="Id" Change=@(args => FirstDiscipline(args)) />

    <div class="mx-2"></div>

    <RadzenButton Text="Calculate" Click="@ButtonClick" Style="height: 30px;" />

</div>
<br />
<br />

<center>
    <div id="scatter" style="height: 650px; border:1px solid double; box-shadow: 5px 10px 8px 5px #888888;"></div>
</center>
<br />